@{
  Layout = "_Layout"; 
}

<h1>Add a Vender</h1>
<p>Add a Vender Here:</p>

<form action="/venders" method="post">
  <label for="venderName">Vender Name</label>
  <input id="venderName" name="venderName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back Home</a></p>
<p><a href="/venders">Back to venders.</a></p>